# Keystatic GitHub mode
KEYSTATIC_GITHUB_CLIENT_ID=
KEYSTATIC_GITHUB_CLIENT_SECRET=
KEYSTATIC_SECRET=
PUBLIC_KEYSTATIC_GITHUB_APP_SLUG=
KEYSTATIC_PUBLIC_URL=https://pramukaupdate.id
PUBLIC_GA_MEASUREMENT_ID=
GOOGLE_ANALYTICS_PROPERTY_ID=
GOOGLE_APPLICATION_CREDENTIALS=
GA_CLIENT_EMAIL=
GA_PRIVATE_KEY=

# Facebook Pixel & Conversions API
PUBLIC_FACEBOOK_PIXEL_ID=
FACEBOOK_ACCESS_TOKEN=

